<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.androidandyuk.autobuddy">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="fractal5.mythirdapp.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:logo="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyA4vYP7mT2iF0s_XZGF9tTDzL381DbaLTk" />
        <!-- <meta-data -->
        <!-- android:name="com.google.android.backup.api_key" -->
        <!-- android:value="AEdPqrEAAAAILBrSZaiKBIa1ylQupITalbvc9ZFsfI-Nvl-jiw" /> -->

        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Favourites"
            android:label="Favourites"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".MapsActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".AboutActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".RaceTracks"
            android:label="Tracks"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".LocationInfoActivity"
            android:label="@string/title_activity_location_info"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Locations"
            android:label="Locations"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Traffic"
            android:label="Traffic"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".HotSpots"
            android:label="Hot Spots"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Fuelling"
            android:label="Fueling"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name=".Garage"
            android:label="Garage"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Maintenance"
            android:label="Maintenance"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".GroupRide"
            android:label="Group Ride"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity
            android:name=".SendFeedback"
            android:label="Send Feedback"
            android:theme="@style/AppTheme" />
        <activity android:name=".PetrolPrices" />
        <activity
            android:name=".MaintenanceLog"
            android:label="Maintenance Log"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".PartsLog"
            android:label="Parts Log" />
        <activity
            android:name=".ToDo"
            android:label="To Do List" />
        <activity
            android:name=".CarShows"
            android:label="Auto Shows" />
        <activity
            android:name=".Settings"
            android:label="Settings" />
        <activity
            android:name=".AnnualReports"/>

        <receiver android:name=".NotificationReceiver" />
        <receiver
            android:name=".BootReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter android:priority="500">
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
    </application>

</manifest>